<section class="vh-100 gradient-custom">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-12 col-md-8 col-lg-6 col-xl-5">
        <div class="card bg-dark text-white" style="border-radius: 1rem;">
          <div class="card-body p-5 text-center">
            <div class="mb-md-5 mt-md-4 pb-2">
            <%= form_with(model: user) do |form| %>
              <% if user.errors.any? %>
                <div style="color: red">
                  <h2><%= pluralize(user.errors.count, "error") %> </h2>

                  <ul>
                    <% user.errors.each do |error| %>
                      <li><%= error.message %></li>
                    <% end %>
                  </ul>
                </div>
              <% end %>
              <%unless current_user%>
              <h2 class="fw-bold mb-2 text-uppercase"> <%= t('.reg') %> </h2>
              <%else%>
              <h2 class="fw-bold mb-2 text-uppercase"> <%= t('.title') %> </h2>
              <%end%>
            <br>
              <div class="form-outline form-white mb-4">
                <%=form.text_field :username, require: true, class: "form-control form-control-lg" %>
                <%=form.label :username,  class: "form-label" %>

              </div>

              <div class="form-outline form-white mb-4">
                <%=form.text_field :user_mail, require: true, class:"form-control form-control-lg" %>
                <%=form.label :user_mail,  class: "form-label" %>
              </div>
                            <div class="form-outline form-white mb-4">
                <%=form.password_field :password, require: true, class:"form-control form-control-lg" %>
                <%=form.label :password,  class: "form-label" %>
              </div>
                            <div class="form-outline form-white mb-4">
                <%=form.password_field :password_confirmation, require: true, class:"form-control form-control-lg" %>
                <%=form.label :password_confirmation,  class: "form-label" %>
              </div>
              <%unless current_user%>
              <%=form.submit t('.sign'), class: "btn btn-outline-light btn-lg px-5", require: true%>
              <%else%>
             <%=form.submit t('.edit'), class: "btn btn-outline-light btn-lg px-5", require: true%>
              <%end%>
            </div>
                <div>
              <p class="mb-1"> <%= t('.question') %> 
              <%=link_to t('.log'), session_login_path, class: "text-white-50 fw-bold"%>
              </p>
            </div>
            <div>
            </div>
            <div>
              <%unless current_user%>
              <%= link_to t('.to_main'), main_path, class: "text-white-90 fw-bold"%>
              <%else%>
              <%= link_to t('.to_prof'), profile_path, class: "text-white-90 fw-bold"%>
              <%end%>
            </div>
            <%end%>

          </div>
        </div>
      </div>
    </div>
  </div>
</section>