<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
<div class = "container">

<header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
<a href="" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
<svg class="bi me-2" width="40" height="32">
<use xlink:href="#bootstrap"></use>
</svg>
  <span class="fs-1"><%= t('.title')%>
    <div class="fs-1 me-5">
    <%= link_to 'Русский', main_path(locale: :ru) %> |
    <%= link_to 'English', main_path(locale: :en) %> 
  </div>
  </span>

</a>

<ul class="nav nav-pills">
<% if signed_in?%>
<a>
<%=button_to  t('.quit'), session_logout_path, class: "btn btn-outline-primary me-3 fs-2"%>
<%= form_with url: :profile, method: :get do |form| %>
  <%= form.submit t('.view'), id: 'submit-btn', class: "btn btn-primary fs-2" %>
  </a>
<% end %>
<%else%>
<%=button_to t('.reg'), new_user_path, method: :get, class: "btn btn-outline-primary me-3 fs-2"%>
<%=button_to t('.log'), session_login_path, method: :get, class: "btn btn-primary fs-2"%>
<%end%>
</ul>
</header>
</div>

<div class="col-5 mx-auto text-center fs-1 text-light bgo justify-content-center">
<%= t('.new_year') %>
<%= ( Date.new(2022, 12, 31)- Date.today).to_i %>
<%= t('.before') %>
<br>
<%= t('.fast') %>
</div>

<%unless flash[:notice].blank?%>
  <h2 style = 'color:red'><%=flash[:notice]%></h2>
<%end%>
<div class="d-grid gap-3 col-3 mx-auto text-center fs-1 container justify-content-center">
<%= form_with url: createroom_url(locale: params[:locale]),params:{locale: params[:locale]} , method: :get do |form| %>
  <%= form.submit t('.create'), id: '1submit-btn', class:"btn btn-primary main_to_btn fs-1" %>
  <br>
<% end %>
<%= form_with url: join_url(locale: params[:locale]), method: :get do |form| %>
  <%= form.submit t('.join'), id: '1submit-btn', class: "btn btn-primary main_to_btn fs-1" %>
  <br>
<% end %>
<%= form_with url: :search, method: :get do |form| %>
  <%= form.submit t('.send'), id: '1submit-btn', class: "btn btn-primary main_to_btn fs-1" %>
  <br>
<% end %>
</div>

<div id="animatedImage" style="position:fixed;padding-top:0px;z-index:99;left:1px;">
 <img id="img1" src="https://i.pinimg.com/originals/d9/6d/15/d96d15973176b36891167fc8a9a43d29.gif" alt="animatedImage" class="m" />
</div>
<script>
var distanceBall=1; 
var directionBall=2; 
document.getElementById('animatedImage').style.top = 1;
document.getElementById('animatedImage').style.left = 1;
var timerToggle=null; 

animateBall();
  function animateBall() {
  document.getElementById("animatedImage").style.left=distanceBall + "px";
  distanceBall+=directionBall;
  if (distanceBall>window.screen.width - 350 ) { 
  document.getElementById('animatedImage').style.top = 1;
  document.getElementById('animatedImage').style.left = 1;
  directionBall = -2;
  document.getElementById('img1').className = 'left';
  }
  if (distanceBall<-40) {
  directionBall = 2;
  document.getElementById('img1').className = 'right';
  }
  timerToggle=setTimeout(function() { animateBall(); }, 1);
  }
  </script>





